@page "/routing"
@page "/routing/catch-all/{*PageParameters}"
@page "/routing/{Param1:int}"
@page "/routing/{Param1:int}/{Param2}"
@page "/multi/routing"

<h3>Routing</h3>

<p>Param1: @Param1</p>
<p>Param2: @Param2</p>
<p>All params: @PageParameters</p>

@code {
    [Parameter] public int Param1 { get; set; }
    [Parameter] public string Param2 { get; set; } = "";
    [Parameter] public string PageParameters { get; set; } = "";
}